@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  min-height: calc(100vh - 69px - 76px);
}

.transition-nav-border {
  transition: all ease-in-out 0.2s;
}

/* .nav-bg {
  background-color: rgba(var(--b1), 0.8);
} */

:root {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: oklch(var(--bc));
  --pagefind-ui-text: inherit;
  --pagefind-ui-background: var(
    --fallback-b1,
    oklch(var(--b1) / var(--tw-bg-opacity))
  );
  --pagefind-ui-border: var(--fallback-bc, oklch(var(--bc) / 0.2));
  --pagefind-ui-tag: oklch(var(--bc));
  --pagefind-ui-border-width: 2px;
  --pagefind-ui-border-radius: 8px;
  --pagefind-ui-image-border-radius: 8px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: GeistSans;
}

.spin-svg {
  animation: 0.4s linear spinnering;
}

@keyframes spinnering {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-interest {
  transition: all 0.2s;
  transform: translateY(0);
}

.banner-bg {
  height: 200px;
  min-width: 400px;
  border-radius: 50%;
  transform: rotate(-10deg);
}

.banner-text {
  transform: rotate(10deg);
}

/* rocketboy styles */
.cls-1 {
  opacity: 0.65;
  fill: oklch(var(--s));
}
.cls-2,
.cls-3,
.cls-4,
.cls-5,
.cls-6,
.cls-7 {
  stroke-width: 0px;
  fill: oklch(var(--bc));
}
.cls-2 {
  opacity: 0.35;
  fill: oklch(var(--s));
}
.cls-3 {
  opacity: 0.45;
  fill: oklch(var(--s));
}
.cls-4 {
  opacity: 0.5;
  fill: oklch(var(--bc));
}
.cls-5 {
  opacity: 0.55;
  fill: oklch(var(--s));
}
.cls-6 {
  opacity: 0.08;
  fill: oklch(var(--s));
}

/* loading boy styles */
.clss-1,
.clss-2 {
  opacity: 0.45;
  fill: oklch(var(--s));
}
.clss-1,
.clss-3,
.clss-4 {
  stroke-width: 0px;
  fill: oklch(var(--bc));
}
.clss-5 {
  opacity: 0.4;
  fill: oklch(var(--s));
}
.clss-6 {
  opacity: 0.35;
  fill: oklch(var(--s));
}
.clss-7 {
  opacity: 0.65;
  fill: oklch(var(--s));
}
.clss-8,
.clss-3 {
  opacity: 0.55;
  fill: oklch(var(--s));
}
.clss-9 {
  opacity: 0.85;
  fill: oklch(var(--s));
}
.clss-10 {
  opacity: 0.95;
  fill: oklch(var(--s));
}
