<footer>
  <div class="content-wrapper">
      <div>
        <a href="/" title="Home">
        {{# logo #}} 
          JPW
        </a>
        {{ include "partials/social-list.vto" }}
    </div>
    {{> const currentYear = new Date().getFullYear() }}
    <div>
      <div>© {{ currentYear }}, Justice P White</div>
    </div>
  </div>
</footer>
